<div class="task-card" [class.completed]="task.completed" [class.overdue]="isOverdue()">
  @if (isEditing()) {
  <div class="task-edit">
    <p-iftalabel>
      <input pInputText inputId="name" class="w-100" type="text" [(ngModel)]="editingName" placeholder="Nome da tarefa"
        (keyup.enter)="updateTask()" (keyup.escape)="cancelEditing()" autofocus />
      <label for="name">Nome da tarefa</label>
    </p-iftalabel>
    <p-iftalabel>
      <p-datepicker inputId="dueDate" [(ngModel)]="editingDueDate" appendTo="body" [iconDisplay]="'input'"
        [showIcon]="true" dateFormat="dd/mm/yy" />
      <label for="dueDate">Data de vencimento</label>
    </p-iftalabel>
    <p-iftalabel>
      <p-autocomplete inputId="tags" [(ngModel)]="editingTags" multiple fluid [typeahead]="false"
        placeholder="Digite e pressione enter" />
      <label for="tags">Tags</label>
    </p-iftalabel>
    <label>
      <p-checkbox inputId="completed" name="completed" [binary]="true" [(ngModel)]="editingCompleted" />
      <label for="completed" class="ml-2"> Concluída </label>
    </label>

    <div class="task-actions">
      <button pButton severity="success" (click)="updateTask()">
        <span pButtonLabel>Salvar</span>
      </button>
      <button pButton severity="danger" (click)="cancelEditing()">
        <span pButtonLabel>Cancelar</span>
      </button>
    </div>
  </div>
  } @else {
  <div class="task-view" (click)="startEditing()">
    <div class="task-header">
      <p-checkbox inputId="completed" name="completed" [binary]="true" [(ngModel)]="task.completed"
        (change)="toggleCompleted()" (click)="$event.stopPropagation()" />
      <!-- <label class="checkbox-container">
        <input type="checkbox" [checked]="task.completed" (change)="toggleCompleted()"
          (click)="$event.stopPropagation()" />
      </label> -->
      <h4 (click)="startEditing()">{{ task.name }}</h4>
    </div>

    <div class="task-meta">
      <span class="task-date" [class.overdue]="isOverdue()">
        📅 {{ formatDate(task.dueDate) }}
      </span>
    </div>

    @if (task.tags.length > 0) {
    <div class="task-tags">
      @for (tag of task.tags; track tag) {
      <span class="tag">{{ tag }}</span>
      }
    </div>
    }

    <div class="task-footer">
      <p-button icon="pi pi-pen-to-square" [rounded]="true" [text]="true" (click)="startEditing()" />
      <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (click)="deleteTask()" />
    </div>
  </div>
  }
</div>
